.env
/Users/guillaumegirishya/Downloads/Codepath/AI201/Takemeter/liverpool-demo.movliverpool-demo.mov
*.mov # optionally block all .mov files
liverpool-demo.mov
*.mov # optionally block all .mov files
